<div class="container">
  <input type="button" class="btn btn-success" value="Ajouter un livre" (click)="setAction('add')"/>
  <h1>Liste des livres</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ISBAN</th>
        <th scope="col">Titre</th>
        <th scope="col">Date de publication</th>
        <th scope="col">Prix</th>
        <th scope="col">Editer</th>
        <th scope="col">Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let b of books;let indice = index;">
        <th scope="row">{{b.isban}}</th>
        <td>{{b.title | titlecase}}</td>
        <td>{{b.date_publication | date:'dd/MM/yyyy'}}</td>
        <td>{{b.prix | number : '1.2-2'}}</td>
        <td><input type="button" class="btn btn-info" value="Editer" (click)="showEdit(indice)"></td>
        <td><input type="button" class="btn btn-danger" value="Supprimer" (click)="deleteBook(indice)"></td>
      </tr>
    </tbody>
  </table>

  <app-add *ngIf="action == 'add'" (sendAddedBook)="addBook($event)"></app-add>
  <app-edit *ngIf="action == 'edit'" [book]="books[activeBook]" (sendBook)="editBook($event)"></app-edit>
</div>
